@import '../../lib/constants/colors.css';

/* === Main Container === */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-dark);
}

/* === Card === */
.login-card {
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 16px;
  width: 380px;
  /* box-shadow: var(--primary-color) 0px 0px 0px;  */
}

/* === Header === */
.login-header {
  text-align: center;
  margin-bottom: 24px;
}

.logo-box {
  background-color: var(--secondary-color);
  width: 125px;
  height: 52px;
  border-radius: 8px;
  margin: 0 auto 12px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.login-header h2 {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
}

/* === Input Fields === */
.input-group {
  margin-bottom: 20px;
}

.input-group ::placeholder {
  color: var(--white);
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--gray);
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: var(--gray);
}

/* === Button === */
.login-btn {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  color: var(--black);
  background-color: var(--white);
}

/* === Footer Links === */
.login-footer {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.login-footer a {
  color: var(--white);
  font-size: 13px;
  text-decoration: none;
  transition: color 0.3s;
}

.login-footer a:hover {
  color: var(--black);
}
