.app-logo {
  display: flex;
  align-content: center;
  gap: 8px;
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
}

/* "CHAL" Box */
.logo-box {
  background-color: var(--secondary-color); 
  border-radius: 8px;        
  padding: 4px 8px;
}

.logo-text {
  color: var(--primary-color); 
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

/* "OSTAAD" Text */
.logo-title {
  color: var(--white);
  font-size:2.5rem;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
  padding-top: 6px;
}