.app-logo {
  display: flex;
  align-items: center; 
  gap: 6px;
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
}

/* "CHAL" Box - Default Size */
.logo-box {
  background-color: var(--secondary-color); 
  border-radius: 8px;        
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  color: var(--primary-color); 
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
}

/* "OSTAAD" Text - Default Size */
.logo-title {
  color: var(--white);
  font-size: 2.5rem;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

/* SMALL SIZE VARIANT */
.app-logo.small {
  gap: 6px;
}

.app-logo.small .logo-box {
  border-radius: 6px;        
  padding: 5px 5px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto !important;
  max-width: fit-content !important;
}

.app-logo.small .logo-text {
  font-size: 1.8rem;
  line-height: 1; 
}

.app-logo.small .logo-title {
  font-size: 1.8rem; 
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
}